@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

nav {
  /* margin: 1rem 4rem; */
}

/* Navbar */
.navbar {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.navbar a + a {
  margin-left: 0.3rem;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
}
.content {
  margin: 1rem;
}

/* Utilities */

/* Display */
.hide-on-mobile {
  display: none;
}
.hide-on-desktop {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 1rem 4rem;
  }

  .navbar a + a {
    margin-left: 1rem;
  }

  .content {
    margin: 1rem 4rem;
  }
  /* Utilites */

  /* Display */
  .hide-on-mobile {
    display: inline-block;
  }
  .hide-on-desktop {
    display: none;
  }
}
