@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.navbar a + a {
  margin-left: 0.3rem;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
}
.content {
  margin: 1rem;
}

/* card */
.card {
  border: 2px solid gray;
  margin-bottom: 1rem;
  /* padding: 1rem; */
  padding: 1rem 0;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.card-item span {
  margin-left: 1rem;
}

.card img {
  /* height: 100%;
  width: 100%; */
  border-radius: 50%;
}

.other-card-info {
  margin-top: .5rem;
  /* align-self: start;
  margin: 0 2rem; */
  /* display: flex;
  flex-flow: column;
  justify-self: flex-start; */
}
/* Utilities */

/* Display */
.hide-on-mobile {
  display: none;
}
.hide-on-desktop {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 1rem 4rem;
  }

  .navbar a + a {
    margin-left: 1rem;
  }

  .content {
    margin: 1rem 4rem;
  }
  /* Utilites */

  /* Display */
  .hide-on-mobile {
    display: inline-block;
  }
  .hide-on-desktop {
    display: none;
  }
}
